internal/infrastructure/soap/wsdl/movie_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://example.com/moviesoap"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             name="MovieService"
             targetNamespace="http://example.com/moviesoap">

  <types>
    <xsd:schema targetNamespace="http://example.com/moviesoap">
      <xsd:element name="GetMovieRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id" type="xsd:long"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetMovieResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id" type="xsd:long"/>
            <xsd:element name="title" type="xsd:string"/>
            <xsd:element name="description" type="xsd:string"/>
            <xsd:element name="releaseDate" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>

  <message name="GetMovieRequest">
    <part name="parameters" element="tns:GetMovieRequest"/>
  </message>
  <message name="GetMovieResponse">
    <part name="parameters" element="tns:GetMovieResponse"/>
  </message>

  <portType name="MovieServicePortType">
    <operation name="GetMovie">
      <input message="tns:GetMovieRequest"/>
      <output message="tns:GetMovieResponse"/>
    </operation>
  </portType>

  <binding name="MovieServiceBinding" type="tns:MovieServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GetMovie">
      <soap:operation soapAction="GetMovie"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>

  <service name="MovieService">
    <documentation>Movie SOAP Service</documentation>
    <port name="MovieServicePort" binding="tns:MovieServiceBinding">
      <soap:address location="http://localhost:8081/soap/movie"/>
    </port>
  </service>
</definitions>